{% extends "navbar.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'myteam/css/mainpage.css' %}">
{% endblock extra_css %}


{% block content %}

<div class="myteam-container">
    <div class="myteam-header">
        <h1>My Team</h1>

        <!-- Temperory Profile tag, later replace it with profile image-->
        <!-- When it clicked like gmail some dropdown dedicated to settings -->
        <a class="myteam-profile" href="{% url 'profile' %}">Profile</a>
    </div>

    <div class="myteam-badges">
        <a href="{% url 'myteam:mainpage' %}" class="myteam-button" id="Teams">Teams</a>
        <a href="{% url 'myteam:taskspage' %}" class="myteam-button" id="Tasks">Tasks</a>
        <a href="#" class="myteam-button" id="PV">PV</a>
    </div>

    <br>
    <hr>

    <div class="myteam-content">
        <h2>Teams</h2>
        {% for team in teams %}
            <div class="myteam-teams"> 
                <ul>
                    <li>
                        <a href="{% url 'myteam:team_chat' team.id %}" style="text-decoration: none;">
                            <span>{{team.name}}</span>
                            <small style="color: #de42ff;">
                                members:
                                {% for member in team.first_members %}
                                    {{ member.username }}{% if not forloop.last %},{% endif %}
                                {% endfor %}
                                {% if team.other_members_count > 3 %} +{{ team.other_members_count }}{% endif %}
                            </small>
                        </a>
                    </li>
                </ul>
            </div>
        {% endfor %}
    </div>
</div>


{% endblock content %}