{% extends "navbar.html" %}

{% block content %}

    <div class="feed-container" style="margin: 10px;">
        <div class="header">
        <h1>Activities:</h1>
        </div>

            {% for feed in feeds %}
                <div class="content">
                    <ul>
                        <li>
                            <h6>{{ feed.content }}</h6>
                            <small>{{ feed.timestamp|timesince}} ago</small>
                        </li>
                    </ul>
                </div>
            {% empty %}
                <h3>Nothing new</h3>
            {% endfor %}

    </div>




{% endblock content %}
