{% extends "navbar.html" %}

{% block content %}

<style>

    .feed-content{
        text-decoration: none;
        transition: transform 0.4s ease-in;
        display: inline-block;
    }

    .feed-content:hover {
        transform: scale(1.02);

        -webkit-filter: brightness(1.2) drop-shadow(6px 10px 15px 1px #ff6be4);
        filter: brightness(1.2) drop-shadow(6px 10px 15px#ff6be4);


    }

    .feed-content a{
        text-decoration: none;
        color: deeppink;
    }

</style>

    <div class="feed-container" style="margin: 10px;">
        <div class="header">
        <h1>Activities:</h1>
        </div>

            {% for feed in feeds %}
                <div class="content" style="padding-bottom: 10px;">
                    <ul>
                        <li>
                            <span class="feed-content">
                                {% if "assigned a new task" in feed.content %}
                                    <a class="link" href="{% url 'myteam:taskspage' %}#team-tasks">{{ feed.content }}</a>
                                {% elif "New team message" in feed.subject and feed.team %}
                                    <a class="link" href="{% url 'myteam:team_chat' feed.team.id %}">{{ feed.content }}</a>
                                {% endif %}
                                <small style="color: #6d6d6d;">{{ feed.timestamp|timesince}} ago</small>
                            </span>
                            <br>
                            <br>
                            <hr>
                        </li>
                    </ul>
                </div>
            {% empty %}
                <h3>Nothing new</h3>
            {% endfor %}

    </div>




{% endblock content %}
