{% extends "navbar.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'myteam/css/pv.css' %}">
{% endblock extra_css %}

{% block content %}
    <div class="parent">
        <h4>Direct</h4>
        <div class="parent2">
            <div class="search">

            </div>
            <div class="container" style="display: flex;">
                <div class="people-container" style="width: 30%; border-right: 2px solid floralwhite;">
                    {% for user in users %}
                        <div class="people">
                            <a href="{% url 'myteam:pv-view' user.username %}" style="text-decoration: none;">
                                <div class="people-info">
                                    <strong style="color: white; font-weight: bolder;">{{user.username}}</strong>
                                    <small style="font-size: 0.8rem; color: whitesmoke; padding-left: 5px;">
                                    {% with last_text=user.sent_directs.last.body|default_if_none:"" %}
                                        {{ last_text|truncatechars:15 }}
                                    {% endwith %}
                                        </small>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>

                <div class="texts-container">
                    {% if target_user %}
                        <h4 style="padding-left: 10px;">{{ target_user.username  }}</h4>

                        {% for direct in directs %}
                            <div class="texts {% if direct.sender == request.user %}right{% else %}left{% endif %}">
                                <span>{{ direct.body }}</span>
                                <small style="color: gray;">{{ direct.timesent }}</small>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div> 
        </div>
    </div>

{% endblock content %}