{% extends "navbar.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'myteam/css/pv.css' %}">
{% endblock extra_css %}

{% block content %}
    <div class="parent">
        <h4>Direct</h4>
        <div class="parent2">
            <div class="search">

            </div>
            <div class="container">
                <div class="people-container">
                    {% for user in users %}
                        <div class="people">
                            <a href="{% url 'myteam:pv-view' user.username %}" style="text-decoration: none;">
                                <strong style="color: white; font-weight: bolder;">{{user.username}}</strong>
                                <small style="font-size: 0.8rem; color: whitesmoke; padding-left: 5px;">
                                {% with last_text=user.sent_directs.last.body|default_if_none:"" %}
                                    {{ last_text|truncatechars:15 }}
                                {% endwith %}
                                    </small>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div> 
        </div>
    </div>

{% endblock content %}