{% extends "navbar.html" %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'myteam/css/taskpage.css' %}">
{% endblock extra_css %}

<!-- 1- Had to learn the AJAX a little for it,
     2- Make notes drop down,
     3- 
-->


{% block content %}
    {% csrf_token %}

    <a href="{% url 'myteam:mainpage' %}" style="text-decoration: none; color: #e04dff; font-size: 2rem;">&#8617;</a>

    <div class="taskspage-container">
        
        <div class="taskspage-header">
            <h1>{{ request.user }} Tasks. </h1>
            <br>
            <button type="button" class="tab-link active" id="tab-todo" onclick="showTab('todo')">To-do📃</button>
            <button type="button" class="tab-link" id="tab-task" onclick="showTab('task')">Team-Tasks🫱🏻‍🫲🏼</button>
            <button type="button" class="tab-link" id="tab-unknown" onclick="showTab('unknown')">???</button>
            <hr>
        </div>
        <div class="taskspage-content">
            <div class="to-do" id="todo">
                <div class="to-do-header">
                    <h4>{{today|date:'D, M j, Y' }}</h4>
                </div>
                <div class="to-do-workspace">
                   <!-- Topic input --> 
                   <div class="task-input">
                        <textarea name="task-topic" id="task-topic" placeholder="Add a new task ..."></textarea>
                        <button onclick="openTaskModal()">➕</button>
                   </div>
                   <!-- Task modal -->
                   <div id="task-modal" class="task-modal" style="display: none;">
                        <div class="task-modal-content">
                            <h3>Add Task details</h3>
                            <label for="task-description">Description:</label>
                            <textarea name="task-description" id="task-description" placeholder="Enter description..."></textarea>

                            <label for="task-notes">Notes:</label>
                            <textarea name="task-notes" id="task-notes" placeholder="Notes..."></textarea>
                            <div class="task-modal-button">
                                <button onclick="closeTaskModal()">Cancel</button>
                                <button onclick="submitTask()">Submit</button>
                            </div>
                        </div>
                   </div>
                </div>
                {% for task in tasks %}
                    <div class="todo-items {% if task.completed %} completed {% endif %}" data-id="{{ task.id }}">
                        {% if task %}
                        <ul>
                           <li><span class="task-topic">{{ task.topic }}</span>
                           <button type="button" onclick="doneButton(this)" class="button done-button">✅</button>
                           <button type="button" onclick="deleteButton(this)" class=" button delete-button">🗑️</button></li>
                            <span class="task-description">{{ task.description }}</span>
                            <span class="task-notes">{{ task.notes }}</span>
                        </ul>
                        {% else %}
                            <p>Failing to plan is planning to fail.</p>
                        {% endif %}
                    </div>
                {% endfor %}

            </div>
                <!-- Team tasks -->
            <div class="team-tasks" id="task" style="display: none;">
                <h4>Assigned Tasks</h4>
                <div class="team-task-container" id="team-task-container">

                </div>
            </div>

            <!-- Team tasks -->
            <div class="unknown" id="unknown" style="display: none;">
                <h4>unknown</h4>
                <div class="unknown-container" id="unknown-container">

                </div>
            </div>


        </div>
        
    </div>


    <script src="{% static 'myteam/js/taskpage.js' %}"></script>
{% endblock content %}