{% extends 'navbar.html' %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'myteam/css/team_chat.css' %}">
{% endblock extra_css %}


<!-- 
                          **Notes:**
    1- Later do the sidings, where the user can see their messages in left side
    and the messages of the team in right side.✔️
    2- Also, add the task app, where the user can see their tasks and the tasks of the team_chat
    which is connected to the Task app.
    3- Add a news feed feature that users can see what recently happend in the team like instagram.          
-->

{% block content %}
    <a href="{% url 'myteam:mainpage' %}" style="text-decoration: none; color: #e04dff; font-size: 2rem;">&#8617;</a>
    <div class="team_chat-container">
        <div class="team_chat-header" style="align-items: center; margin-bottom: 5px;">
            <h1>{{ team_page.name }}</h1>
            <small style="color: #bfbfbf; font-weight: bold;">{{ team_page.description }}</small>
            <hr>
        </div>

        <div class="team_chat-content">
        <!--<div class="team_chat-task">
                Will be programmed later after the task app.
            </div>-->

            <div class="team_chat-messages" style="padding: 2px 5px;">
                {% for team_message in team_messages %}
                <!-- Check if there is any messages that been replied, header of message that shows replie-->
                    {% if team_message.parent %}
                        <div class="reply-preview">
                            <strong style="color: #979797;">{{ team_message.parent.user }}:</strong>
                            <small style="color: #979797;">{{ team_message.parent.body|truncatechars:35 }}</small>
                        </div>
                    {% endif %}
                    <!-- Display of messages and Reply butoon-->
                    {% if team_message.user == request.user %}
                            <div class="message-wrapper right">
                                <div class="team_chat-message my-message">
                                    <div class="team_chat-message-header">
                                        <a href="#" style="text-decoration: none ;"><strong>{{team_message.user}}</strong></a>
                                        <button type="button" onclick="ReplyTo({{ team_message.id }}, '{{ team_message.user }}', '{{ team_message.body|escapejs }}')">Reply</button>
                                    </div>
                                    <div class="team_chat-message-body">
                                        <p style="margin: 0px;">{{team_message.body}}</p>
                                        <small>{{team_message.created|date:"f A"}}</small>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <div class="message-wrapper left">
                                <div class="team_chat-message other-message">
                                    <div class="team_chat-message-header">
                                        <a href="#" style="text-decoration: none ;"><strong>{{team_message.user}}</strong></a>
                                        <button type="button" onclick="ReplyTo({{ team_message.id }}, '{{ team_message.user }}', '{{ team_message.body|escapejs }}')">Reply</button>
                                    </div>
                                    <div class="team_chat-message-body">
                                        <p style="margin: 0px;">{{team_message.body}}</p>
                                        <small>{{team_message.created|date:"f A"}}</small>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                {%empty%}
                    <div class="team_chat-message" style="padding: 2px">
                        <p>No messages yet. Be the first to send a message!</p>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="team_chat-input">
            <form action="" method="post">
                {% csrf_token %}
                <!-- Reply preview in input -->
                <input type="hidden" name="parent_id" id="parent_id">
                <div class="reply-to" id="reply-to" style="display: none;">
                    <span id="replying-user" style="color: #4d4d4d;"></span>
                    <span id="replying-preview" style="color: #4d4d4d;"></span>
                    <button type="button" onclick="CancleReply()">Cancle</button>
                </div>
                <textarea name="team_messages" id="text_input" placeholder="Message your team"></textarea>
                <button type="submit" name="text_send">Send</button>
            </form>
        </div>
    </div>
    

    <script src="{% static 'myteam/js/team_chat.js' %}"></script>
{% endblock content %}