{% extends "navbar.html" %}
{% load static %}

{% block content %}
    <div room-container>
        <div class="room-header">
            <h1>Room: {{ rooms.name }}</h1>
            <span class="room-desc">{{ rooms.description }}</span>
        </div>

        <div class="room-chats">
            {% for comment in comments %}
                {% if comment.parent %}
                    <div class="reply-preview">
                        <strong style="color: gray;">{{ comment.parent.user}}:</strong>
                        <small>{{ comment.parent.body|truncatechars:35 }}</small>
                    </div>
                {% endif %}
                <div class="comment-box">
                    <a href="#">{{ comment.user }}</a>
                    <span>{{ comment.body }}</span>
                    <button onclick="ReplyTo({{ comment.id }}, '{{ comment.user }}', '{{ comment.body|escapejs }}')">Reply</button>
                </div>
            {% endfor %}
        </div>

        <div class="comment-section">
            <form action="" method="post">
                {% csrf_token %}
                {% if comments %}
                    <input type="hidden" name="parent_id" id="parent_id">
                    <div id="replying-to" style="display: none;">
                        <span id="replying-user"></span>
                        <span id="replying-preview"></span>
                        <button type="button" onclick="CancleReply()">Cancle</button>
                    </div>
                    <textarea name="comment" class="comment-section" id="comment-section" placeholder="What are you up to?.... "></textarea>
                {% else %}
                    <textarea name="comment" class="comment-section" id="comment-section" placeholder="Be the first one ... "></textarea>
                {% endif %}
                <button type="submit">Send</button>
            </form>

        </div>
    </div>

    <div class="room-info">
        <div class="room-info-header">

        </div>

    </div>


    <script src="{% static 'chatrooms/js/room.js' %}"></script>
{% endblock content %}