{% extends "navbar.html" %}
{% load static %}

{% block content %}
    <div room-container>
        <div class="room-header">
            <h1>Room: {{ rooms.name }}</h1>
            <span class="room-desc">{{ rooms.description }}</span>
        </div>
        
        <div class="room-chats">
            {% for comment in comments %}
                {% if comment.parent %}
                    <div class="reply-preview">
                        <strong style="color: #979797;">{{ comment.parent.user}}:</strong>
                        <small style="color: #979797;">{{ comment.parent.body|truncatechars:35 }}</small>
                    </div>
                {% endif %}
                <div class="comment-box">
                    <a href="#">{{ comment.user }}</a>
                    <span>{{ comment.body }}</span>
                    <button onclick="ReplyTo({{ comment.id }}, '{{ comment.user }}', '{{ comment.body|escapejs }}')">Reply</button>
                </div>
            {% endfor %}
        </div>

        <!-- Comment section -->
        <div class="comment-section">
            <form action="" method="post">
                {% csrf_token %}
                {% if comments %}
                    <input type="hidden" name="parent_id" id="parent_id">
                    <div id="replying-to" style="display: none;">
                        <span id="replying-user" style="color:#4d4d4d;"></span>
                        <span id="replying-preview" style="color: #4d4d4d;"></span>
                        <button type="button" onclick="CancleReply()">Cancle</button>
                    </div>
                    <textarea name="comment" class="comment-section" id="comment-section" placeholder="What are you up to?.... "></textarea>
                {% else %}
                    <textarea name="comment" class="comment-section" id="comment-section" placeholder="Be the first one ... "></textarea>
                {% endif %}
                <button type="submit">Send</button>
            </form>

        </div>
    </div>

    <!-- Info Page when clicked on room name -->
    <div class="room-info">
        <div class="room-info-header">
            <h1>{{ rooms.name }}</h1>
            <h4 style="color: #979797;">{{ rooms.description }}</h4>
            <small style="color:rgb(185, 185, 185);">Created: {{ rooms.created }}</small>
        </div>

        <div class="room-info-participants">
            <h2>Participants: <strong>{{ participants.count }} users</strong></h2>
            
            {% for participant in participants %}
                <div class="participants-contianer">
                    <ul class="participants-list">
                        <a href="#" style="text-decoration: none; color: black;">
                            <li>
                                {{ participant }}
                            </li>
                        </a>
                    </ul>
                </div>
                
            {% endfor %}

            <!-- Don't forget the Front-end of this part (Vital)-->
        </div>
    </div>


    <script src="{% static 'chatrooms/js/room.js' %}"></script>
{% endblock content %}