/* */
.myteam-header {
    display: flex;
    align-items: center;

}

.myteam-profile {
    margin-left: auto;
    text-decoration: none;
    color: #ef5cff;
}

.myteam-badges {
    display: flex;
    align-items: baseline;
}
.myteam-badges a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    border-bottom: none;
    transition: font-size 0.3s ease-in;
    transition: color 0.3 ease-in;
    transition: border-bottom 0.3s ease-in;
}

.myteam-badges a:hover {

    font-size: 18px;
    color: #ef5cff;
    border-bottom: 1px solid #e600ff;

}

.myteam-button {
    padding: 10px 20px;
    
    
}

.header-icons {
    margin-left: auto;
    padding: 10px;
}

.myteam-news {
    margin-left: auto;
    padding-right:10px ;
    text-decoration: none;
    color: #ef5cff;
}