/* */
.myteam-header {
    display: flex;
    align-items: center;

}

.myteam-profile {
    margin-left: auto;
    text-decoration: none;
    color: #ef5cff;
}

.myteam-badges {
    display: flex;
    align-items: baseline;
}

.myteam-button {
    padding: 10px 20px;
    
    
}