/* */
.myteam-header {
    display: flex;
    align-items: center;

}

.myteam-profile {
    margin-left: auto;
    text-decoration: none;
    color: #ef5cff;
}

.myteam-badges {
    display: flex;
    align-items: baseline;
}

.myteam-button {
    padding: 10px 20px;
    
    
}

.header-icons {
    margin-left: auto;
    padding: 10px;
}

.myteam-news {
    margin-left: auto;
    padding-right:10px ;
    text-decoration: none;
    color: #ef5cff;
}