/* Fix message wrapper */
.message-wrapper {

    display: flex;
    width: 100%;
}

/* User */
.message-wrapper.right {

    justify-content: flex-end;
}

/* Others */
.message-wrapper.left {

    justify-content: flex-start;
}

.team_chat-message {

    display: flex;
    flex-direction: column;
    max-width: 60%;
    margin: 5px 0;
    padding: 10px;
}

/* User messages */
.my-message {
    
    color: rgb(203, 173, 230);
}

/* Other user messages */
.other-message {

    color: rgb(71, 71, 71);
}

/* Reply box */
.reply-preview {

    width:fit-content;
    padding: 10px 20px;
    font-size: 1rem;
    background-color: black;
    border-radius: 5px;
}

.reply-preview.right-reply {
    
    display: flex;
    align-items: right;
    margin-left: auto;
    margin-right: 0px ;
}

.team_chat-message-header, .team_chat-message-body{

    padding-left:5px ;
}

.my-message .message-time {

    text-align: right;
    padding-right: 10px;
}

.modal {
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.team-task-container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
}
