{% extends 'navbar.html' %}
{% block content %}
    <style>
        .chat-container{
            display: grid;
            grid-template-columns: 1fr 3fr 1fr;
        }
    </style>

    {% if user.is_authenticated %}
        <div class="chat-container">
            <div class="topics-container">
                <!-- Make it Dropdown -->
                <h1>Topics</h1>
                <br>
                <hr>
                <div class="topics-content">
                    <a href="{% url 'home' %}">All</a>
                    {% for topic in topics %}
                        <ul>
                            <li>
                                <a class="topic-name" href="{% url 'home' %}?q={{topic.name}}" style="text-decoration: none;">{{ topic.name }}</a>
                            </li>
                        </ul>
                    {% endfor %}
                </div>
            </div>

            <div class="chat-container">
                <h1>Your Chats</h1>
                <br>
                <hr>
                <div class="rooms-container">
                    {% for room in rooms %}
                    <ul>
                        <li><a href="{% url 'chatrooms:room' room.id %}" style="text-decoration: none;">{{room.name}}</a></li>
                        <small>{{room.description|truncatechars:10}}</small>
                    </ul>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% else %}
    <p>log in</p>
    {% endif %}
{% endblock content %}