{% extends 'navbar.html' %}
{% block content %}
    {% if user.is_authenticated %}
        <div class="chat-container">
            <div class="topics-container">
                <h1>Topics</h1>
                <br>
                <hr>
                <div class="topics-content">
                    {% for topic in topics %}
                        <ul>
                            <span>{{ topic.name }}</span>
                        </ul>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% else %}
    <p>log in</p>
    {% endif %}
{% endblock content %}