{% extends "navbar.html" %}

{% block content %}
    <div class="login">
        {% if page == 'login' %}
        {% if error %}
            <p style="color:red;">{{ error }}</p>
        {% endif %}
        <form action="" method="post">
            {% csrf_token %}
            <label for="username">Username or Email</label>
            <input type="text" id="username" name="username" placeholder="Username or Email" required>
            <br>
            <label for="password">Password</label>
            <input type="password" name="password" id="password" placeholder="Password" required>
            <br>
            <input type="submit" value="Login">
            <a href="{% url 'register' %}">
                <small>Don't have an account? Sign up</small>
            </a>
        </form>
    </div>
        
        {% else %}
            <div class="register">
                <form action="", method='post'>
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" name="registeruser" value="Register">
                    <a href="{% url 'login' %}">
                        <small>Already have an account? Login</small>
                    </a>
                </form>
            </div>
        {% endif %}

    
{% endblock content %}