{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block extra_css %}{% endblock extra_css %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap">
    <title>Teamup</title>
</head>
<body>
    
    <!-- Navbar -->
    <nav class="navbar">
        <ul class="navbar-nav">
            <div class="logo">
                <a href="{% url 'home' %}" class="logo-link">
                    <span class="logo-text">
                        Teamup
                    </span>
                </a>
            </div>

            {% if user.is_authenticated %}
            <li class="nav-items">
                <a href="{% url 'profile' %}" class="nav-link">
                    <span class="link-text">
                        Profile
                    </span>
                </a>
            </li>
            {% else %}
            <li class="nav-items">
                <a href="{% url 'login' %}" class="nav-link">
                    <span class="link-text">
                        Login
                    </span>
                </a>

            </li>
            {% endif %}
            

            <li class="nav-items">
                <a href="#" class="nav-link">
                    <span class="link-text">
                        Test
                    </span>
                </a>
            </li>

            <li class="nav-items">
                <a href="#" class="nav-link">
                    <span class="link-text">
                        Test 2
                    </span>
                </a>
            </li>

            <li class="nav-items contact-us" id="contact">
                <a href="#"  class="nav-link">
                    <span class="link-text">
                        Contact us
                    </span>
                </a>
            </li>
        </ul>
    </nav>

    <main>

        {% if messages %}
            <div>
                {% for message in messages %}
                    <div class="messages" style="color: red;">
                        {{message}}
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        {% block content %}

        {% endblock content %}
    </main>
</body>
</html>